volumes/node-red/flows.json
[{"id":"27d012c.d91efee","type":"tab","label":"Battery Flow","disabled":false,"info":""},{"id":"846542dc.60ec","type":"tab","label":"Solar system data colletion","disabled":false,"info":""},{"id":"49e3f5cb.cac79c","type":"tab","label":"Car battery data colletion","disabled":false,"info":""},{"id":"a955ac0c.ab81","type":"tab","label":"Home electricity consume","disabled":false,"info":""},{"id":"b2398815.0137e8","type":"tab","label":"Power storage","disabled":false,"info":""},{"id":"1b5bbe3e.bdcdc2","type":"tab","label":"Battery charging","disabled":false,"info":""},{"id":"ae7abea4.d3869","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"battery1","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"influxdb:8086","rejectUnauthorized":false},{"id":"d2d36e25.d8a6","type":"mqtt-broker","name":"Home1","broker":"broker","port":"1883","clientid":"Herr Muller's Solar System","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8766635c.8d31d","type":"ui_group","name":"Car Battery","tab":"829f34f3.abff58","order":1,"disp":true,"width":"6","collapse":false},{"id":"829f34f3.abff58","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"35df0f9e.263a4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial Black,Arial Black,Gadget,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"User Inerface Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"icon","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":60,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"37d7021c.9a6f5e","type":"ui_group","name":"Electricity Consume","tab":"829f34f3.abff58","order":2,"disp":true,"width":"6","collapse":false},{"id":"949d3c0a.bc11d","type":"ui_group","name":"Electricity Production","tab":"829f34f3.abff58","order":3,"disp":true,"width":"6","collapse":false},{"id":"afb24550.cd8068","type":"debug","z":"27d012c.d91efee","name":"Battery Life is more than 20%","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2100,"y":540,"wires":[]},{"id":"7201704e.7022a","type":"inject","z":"27d012c.d91efee","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Battery Life ","payload":"","payloadType":"date","x":370,"y":460,"wires":[["fb8940f8.02183"]]},{"id":"8a27c8af.9eff18","type":"switch","z":"27d012c.d91efee","name":"Battery Status Conditions","property":"battery","propertyType":"msg","rules":[{"t":"btwn","v":"20","vt":"num","v2":"101","v2t":"num"},{"t":"btwn","v":"1","vt":"num","v2":"21","v2t":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"gte","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":1560,"y":620,"wires":[["a737e083.fc1ec"],["274030da.5c6bb"],["20f9af57.bef61"],["d729fe6.2422e"]]},{"id":"c1a60873.3ff338","type":"debug","z":"27d012c.d91efee","name":"Battery Life is less than 20% (LOW)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2110,"y":600,"wires":[]},{"id":"274030da.5c6bb","type":"function","z":"27d012c.d91efee","name":"Print","func":"var msg = { payload:\"Battery Low\" };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1800,"y":600,"wires":[["c1a60873.3ff338"]]},{"id":"a737e083.fc1ec","type":"function","z":"27d012c.d91efee","name":"Print","func":"var msg = { payload:\"Battery Is More than 20%\" };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1800,"y":540,"wires":[["afb24550.cd8068"]]},{"id":"fb8940f8.02183","type":"function","z":"27d012c.d91efee","name":"Get Battery Value","func":"var battery = flow.get('battery') || 0;\n// make it part of the outgoing msg object\nmsg.battery = battery;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":560,"wires":[["745ef5f1.36a44c","373b93d5.85d8bc"]]},{"id":"104f189a.d2ddf7","type":"inject","z":"27d012c.d91efee","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Charging","payload":"","payloadType":"date","x":380,"y":780,"wires":[["9c442aef.67ca98"]]},{"id":"9c442aef.67ca98","type":"function","z":"27d012c.d91efee","name":"Set Charging Value","func":"var battery = flow.get('battery') || 0;\nvar charging  = 0.3\nmsg.charging = charging\nmsg.battery = battery\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":700,"wires":[["745ef5f1.36a44c","893e21f0.96f72"]]},{"id":"745ef5f1.36a44c","type":"function","z":"27d012c.d91efee","name":"MAIN Function","func":"// var total = context.get('total') || 0;\nvar battery = flow.get('battery') || 0;\nvar charging = flow.get('charging') || 0.3\n\n// store battery/charging in flow context\n\n\n if (msg.hasOwnProperty(\"charging\")) {\n    battery = battery + charging\n    flow.set('battery', battery )\n}\n\n\n// get the latest values of battery/charging from context - default to 0 if not yet set\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":620,"wires":[["27aa2e00.695f02"]]},{"id":"ac3c3088.a0fad","type":"debug","z":"27d012c.d91efee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1280,"y":360,"wires":[]},{"id":"27aa2e00.695f02","type":"function","z":"27d012c.d91efee","name":"Keep Value between 0 and 100","func":"var battery = flow.get('battery') || 0;\n\nif (battery == 0) {\n    return msg\n}\n\nif (battery < 0) {\n    \n    battery = flow.set('battery' , 0)\n    return msg\n}\n\nif (battery > 100) {\n    battery = 100\n    // battery = battery - 0.1\n    flow.set('battery', battery)\n    \n    return msg\n}\n\nelse {\n\nbattery = battery - 0.1\nflow.set('battery', battery )\n\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":480,"wires":[["ac3c3088.a0fad","3275ece8.f16774"]]},{"id":"20f9af57.bef61","type":"function","z":"27d012c.d91efee","name":"Print","func":"var msg = { payload:\"OFF\" };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1800,"y":660,"wires":[["df1385b0.a0f5e8"]]},{"id":"df1385b0.a0f5e8","type":"debug","z":"27d012c.d91efee","name":"Battery Dead (OFF)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2060,"y":660,"wires":[]},{"id":"d729fe6.2422e","type":"function","z":"27d012c.d91efee","name":"Print","func":"var msg = { payload:\"Battery Full\" };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1800,"y":720,"wires":[["2ef81496.8823fc"]]},{"id":"69513776.f736e8","type":"debug","z":"27d012c.d91efee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1560,"y":240,"wires":[]},{"id":"2ef81496.8823fc","type":"debug","z":"27d012c.d91efee","name":"Full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2020,"y":720,"wires":[]},{"id":"c576e6d1.734f48","type":"function","z":"27d012c.d91efee","name":"","func":"var battery = flow.get('battery') || 0;\nmsg.payload = Math.round(battery)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1510,"y":480,"wires":[["69513776.f736e8","95bcde10.2ac86"]]},{"id":"3275ece8.f16774","type":"calculator","z":"27d012c.d91efee","name":"","inputMsgField":"battery","outputMsgField":"battery","operation":"round","constant":"","round":false,"decimals":0,"x":1290,"y":620,"wires":[["8a27c8af.9eff18","c576e6d1.734f48"]]},{"id":"95bcde10.2ac86","type":"influxdb out","z":"27d012c.d91efee","influxdb":"ae7abea4.d3869","name":"","measurement":"BatteryLife","precision":"","retentionPolicy":"","database":"battery1","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1970,"y":400,"wires":[]},{"id":"26e6becd.c41ac2","type":"mqtt in","z":"846542dc.60ec","name":"SolarData","topic":"sensors/sensor1","qos":"2","datatype":"auto","broker":"d2d36e25.d8a6","x":740,"y":420,"wires":[["6e30ef91.db4ee"]]},{"id":"9b3fa312.67e8e","type":"debug","z":"846542dc.60ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":660,"wires":[]},{"id":"6e30ef91.db4ee","type":"function","z":"846542dc.60ec","name":"String to Number","func":"var SolarData = msg.payload;\n// make it part of the outgoing msg object\nmsg.SolarData = SolarData\nSolarData = Number(SolarData);\nmsg.payload = SolarData\nglobal.set('SolarData', SolarData )\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":520,"wires":[["9b3fa312.67e8e","4a4f9fd4.2adbe","77dd474f.c31228","7894f487.39c3ac"]]},{"id":"4a4f9fd4.2adbe","type":"ui_gauge","z":"846542dc.60ec","name":"Electricity production","group":"949d3c0a.bc11d","order":1,"width":"6","height":"5","gtype":"gage","title":"Current Electricity Production","label":"W","format":"{{value}}","min":0,"max":"4000","colors":["#b30000","#e6e600","#52cb3a"],"seg1":"700","seg2":"2500","x":1160,"y":480,"wires":[]},{"id":"330be236.0a79ee","type":"mqtt in","z":"49e3f5cb.cac79c","name":"","topic":"sensors/sensor1.1","qos":"2","datatype":"auto","broker":"d2d36e25.d8a6","x":110,"y":260,"wires":[["438a2b23.e48764"]]},{"id":"438a2b23.e48764","type":"function","z":"49e3f5cb.cac79c","name":"Main Battery Data","func":"var BatteryData = msg.payload;\nvar ChargingMode = global.get('ChargingMode') || false;\n\nmsg.ChargingMode = ChargingMode\nChargingMode = global.set('ChargingMode',ChargingMode)\n\n// make it part of the outgoing msg object\nmsg.BatteryData = BatteryData\nBatteryData = Number(BatteryData);\nmsg.payload = BatteryData;\nglobal.set('BatteryData', BatteryData )\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[["1559d796.f7ba68","6a66c8bc.bb17d8","e115a8ed.e7f3f8","64c496de.36edb8","6e5c1e47.91d15","1ab8aaed.897a25","2e8f7254.e2a89e"]]},{"id":"695e7f98.19fb8","type":"ui_gauge","z":"49e3f5cb.cac79c","name":"Car Battery","group":"8766635c.8d31d","order":2,"width":"6","height":"5","gtype":"donut","title":"Current Battery Percentage ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#e6e600","#52cb3a"],"seg1":"40","seg2":"70","x":910,"y":180,"wires":[]},{"id":"77dd474f.c31228","type":"ui_chart","z":"846542dc.60ec","name":"Electricity production chart","group":"949d3c0a.bc11d","order":2,"width":"6","height":"5","label":"Historical Electricity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1180,"y":420,"wires":[[]]},{"id":"1559d796.f7ba68","type":"function","z":"49e3f5cb.cac79c","name":"Capacity Percentage ","func":"msg.payload = (msg.payload / 20000)*100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":180,"wires":[["695e7f98.19fb8"]]},{"id":"6a66c8bc.bb17d8","type":"ui_gauge","z":"49e3f5cb.cac79c","name":"","group":"8766635c.8d31d","order":1,"width":"6","height":"5","gtype":"gage","title":"Battery Capacity Wh","label":"Wh","format":"{{value}}","min":0,"max":"20000","colors":["#b30000","#e6e600","#43cb3a"],"seg1":"4000","seg2":"12000","x":580,"y":80,"wires":[]},{"id":"d9b07c7d.a191e","type":"mqtt in","z":"a955ac0c.ab81","name":"","topic":"sensors/sensor1.2","qos":"0","datatype":"auto","broker":"d2d36e25.d8a6","x":190,"y":320,"wires":[["f18735f1.4fd6a8"]]},{"id":"d097e3da.d14f8","type":"debug","z":"a955ac0c.ab81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"ConsumeData","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":360,"wires":[]},{"id":"f18735f1.4fd6a8","type":"function","z":"a955ac0c.ab81","name":"String to Numer","func":"var ConsumeData = msg.payload;\n// make it part of the outgoing msg object\nmsg.ConsumeData = Number(ConsumeData);\nmsg.payload = msg.ConsumeData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":260,"wires":[["d097e3da.d14f8","6df2da9a.564524","cff95aa7.49fe78","dd4050eb.0719a"]]},{"id":"6df2da9a.564524","type":"ui_gauge","z":"a955ac0c.ab81","name":"Electricity Consume","group":"37d7021c.9a6f5e","order":1,"width":"6","height":"5","gtype":"gage","title":"Current Electricity Consume","label":"Wh","format":"{{value}}","min":"-10000","max":"10000","colors":["#b30000","#e6e600","#3acb65"],"seg1":"3000","seg2":"4500","x":640,"y":160,"wires":[]},{"id":"cff95aa7.49fe78","type":"ui_chart","z":"a955ac0c.ab81","name":"Electricity consume chart","group":"37d7021c.9a6f5e","order":2,"width":"6","height":"5","label":"Historical Consume Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10000","ymax":"4000","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":630,"y":120,"wires":[[]]},{"id":"373b93d5.85d8bc","type":"debug","z":"27d012c.d91efee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":440,"wires":[]},{"id":"893e21f0.96f72","type":"debug","z":"27d012c.d91efee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":760,"wires":[]},{"id":"9ceeb260.017ed","type":"link in","z":"1b5bbe3e.bdcdc2","name":"","links":["7894f487.39c3ac","7cd053b0.76abfc","dd4050eb.0719a"],"x":215,"y":280,"wires":[["ef499ab.2de5668"]]},{"id":"7894f487.39c3ac","type":"link out","z":"846542dc.60ec","name":"Link to Automation Flow","links":["9ceeb260.017ed","bfc0b9af.681ae8","5e17ce4.103403"],"x":1195,"y":580,"wires":[]},{"id":"7cd053b0.76abfc","type":"link out","z":"49e3f5cb.cac79c","name":"","links":["5e17ce4.103403","9ceeb260.017ed"],"x":1055,"y":540,"wires":[]},{"id":"dd4050eb.0719a","type":"link out","z":"a955ac0c.ab81","name":"","links":["9ceeb260.017ed","5e17ce4.103403"],"x":655,"y":260,"wires":[]},{"id":"ef499ab.2de5668","type":"switch","z":"1b5bbe3e.bdcdc2","name":"If SolarData is bigger or equal to 2000","property":"SolarData","propertyType":"global","rules":[{"t":"gte","v":"2000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":220,"wires":[["408be0e3.f6e39"]]},{"id":"6621e964.6c7838","type":"debug","z":"1b5bbe3e.bdcdc2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":420,"wires":[]},{"id":"c14f68f3.fbbbf8","type":"inject","z":"49e3f5cb.cac79c","name":"","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"BatteryData","payloadType":"global","x":130,"y":100,"wires":[["438a2b23.e48764"]]},{"id":"bfc0b9af.681ae8","type":"link in","z":"b2398815.0137e8","name":"","links":["7894f487.39c3ac"],"x":275,"y":120,"wires":[["9ef3d1bc.f1a07"]]},{"id":"9ef3d1bc.f1a07","type":"switch","z":"b2398815.0137e8","name":"If SolarData is bigger or equal to 2000","property":"SolarData","propertyType":"msg","rules":[{"t":"gte","v":"2000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":180,"wires":[["e5f3c27d.c7bc1"]]},{"id":"e5f3c27d.c7bc1","type":"switch","z":"b2398815.0137e8","name":"If ConsumeData is less or equal 0 ","property":"ConsumeData","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":260,"wires":[["c637605.52961a"]]},{"id":"c637605.52961a","type":"function","z":"b2398815.0137e8","name":"Store Power","func":"var SolarData = global.get('SolarData');\nvar PowerStorage = msg.payload;\nmsg.PowerStorage = PowerStorage;\n\nPowerStorage = PowerStorage + (SolarData/60)\nglobal.set('PowerStorage', PowerStorage)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":340,"wires":[[]]},{"id":"f9c1513e.fdf68","type":"inject","z":"846542dc.60ec","name":"Inject every 1 min (SolarData)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"InjectSolarData","payload":"SolarData","payloadType":"global","x":730,"y":640,"wires":[["6e30ef91.db4ee"]]},{"id":"64c496de.36edb8","type":"switch","z":"49e3f5cb.cac79c","name":"If BatteryData is less or equal 50%","property":"BatteryData","propertyType":"global","rules":[{"t":"lte","v":"10000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":680,"wires":[["e21facd2.e32b5"]]},{"id":"408be0e3.f6e39","type":"function","z":"1b5bbe3e.bdcdc2","name":"Automation Function for Car Charging","func":"\n\nvar SolarData = global.get('SolarData');\nvar BatteryData = global.get('BatteryData');\nvar BatteryConsume = 10; //Battery electricity consume 10 Wh\nmsg.BatteryData = BatteryData;\n\n\nif(msg.ChargingMode == true){\n\nBatteryData = Math.round (BatteryData + (SolarData/60));\n//Save new BatteryData after Charging\nglobal.set('BatteryData', BatteryData);\n    \n}\n\n\n\nif(BatteryData >= 20000){ // Max Capacity \n    \n\n//Save new BatteryData after Charging\nglobal.set('BatteryData', 20000);\nglobal.set('ChargingMode',false);\n\n}\n\n\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":280,"wires":[["6621e964.6c7838"]]},{"id":"e115a8ed.e7f3f8","type":"debug","z":"49e3f5cb.cac79c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":20,"wires":[]},{"id":"e21facd2.e32b5","type":"function","z":"49e3f5cb.cac79c","name":"ChargingMode True","func":"ChargingMode = global.set('ChargingMode',true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":720,"wires":[["7cd053b0.76abfc"]]},{"id":"6e5c1e47.91d15","type":"switch","z":"49e3f5cb.cac79c","name":"If BatteryData is full 100%","property":"BatteryData","propertyType":"global","rules":[{"t":"gte","v":"20000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":360,"wires":[["735fd574.d8877c"]]},{"id":"735fd574.d8877c","type":"function","z":"49e3f5cb.cac79c","name":"ChargingMode False","func":"ChargingMode = global.set('ChargingMode',false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":400,"wires":[["7cd053b0.76abfc"]]},{"id":"1ab8aaed.897a25","type":"switch","z":"49e3f5cb.cac79c","name":"If ChargingMode is True","property":"ChargingMode","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":480,"wires":[["12ddaddd.2a68f2"]]},{"id":"12ddaddd.2a68f2","type":"switch","z":"49e3f5cb.cac79c","name":"If BatteryData is still less than 100%","property":"BatteryData","propertyType":"global","rules":[{"t":"lte","v":"20000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":520,"wires":[["7cd053b0.76abfc"]]},{"id":"2e8f7254.e2a89e","type":"function","z":"49e3f5cb.cac79c","name":"Battery consume","func":"var SolarData = global.get('SolarData');\nvar BatteryData = global.get('BatteryData');\nvar BatteryConsume = 1000; //Battery electricity consume 10 Wh\nmsg.BatteryData = BatteryData;\n\n\n\nBatteryData = Math.round (BatteryData - (BatteryConsume/60)); // the 100 is the battery consume it can be changed\n//Save new BatteryData after Charging\nglobal.set('BatteryData', BatteryData);\n    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":400,"wires":[[]]},{"id":"bb8439b3.4d9d98","type":"inject","z":"846542dc.60ec","name":"Energy Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sensors/sensor1","payload":"2000","payloadType":"str","x":570,"y":920,"wires":[["99b7d6d4.00e6d8"]]},{"id":"99b7d6d4.00e6d8","type":"mqtt out","z":"846542dc.60ec","name":"","topic":"sensors/sensor1","qos":"2","retain":"","broker":"d2d36e25.d8a6","x":990,"y":920,"wires":[]},{"id":"3b20b700.fc2af8","type":"inject","z":"49e3f5cb.cac79c","name":"Capacity Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sensors/sensor1.1","payload":"2000","payloadType":"num","x":130,"y":940,"wires":[["43457e1d.ce55a"]]},{"id":"43457e1d.ce55a","type":"mqtt out","z":"49e3f5cb.cac79c","name":"","topic":"sensors/sensor1.1","qos":"2","retain":"","broker":"d2d36e25.d8a6","x":560,"y":940,"wires":[]}]